
      <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
        <ul class="navbar-nav ml-auto align-items-lg-center">
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
          <li class="nav-item active">
            <a class="nav-link" href="/components.html">Overview</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
            <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
              <a class="dropdown-item" href="/">Homepage</a>
              <a class="dropdown-item" href="/about.html">About us</a>
              <a class="dropdown-item" href="/contact.html">Contact</a>
              <a class="dropdown-item" href="/login.html">Sign IN</a>
              <a class="dropdown-item" href="/register.html">Sign Up</a>
              <a class="dropdown-item" href="/page-404.html">Error Page</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://app-generator.github.io/jinja-template-boomerang-uikit/docs/introduction.html">UI Docs</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/app-generator/jinja-template-boomerang-uikit" target="_blank" class="nav-link d-lg-none">Sources</a>
            <a href="https://github.com/app-generator/jinja-template-boomerang-uikit" target="_blank" class="btn btn-sm bg-white d-none d-lg-inline-flex">Sources</a>
          </li>
          <div class="dropdown-divider d-lg-none my-4"></div>
          <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Social Media</h6>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://web.facebook.com/webappseed" target="_blank">
                <i class="fab fa-facebook"></i><span class="ml-2 d-lg-none">Facebook</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/webappseed" target="_blank">
                <i class="fab fa-twitter"></i><span class="ml-2 d-lg-none">Twitter</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/app-generator" target="_blank">
                <i class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
          </li>
        </ul>
      </div>

