
    <script src="/static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/assets/vendor/popper/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- FontAwesome 5 -->
    <script src="/static/assets/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
    <!-- Page plugins -->
    <script src="/static/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="/static/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="/static/assets/vendor/input-mask/input-mask.min.js"></script>
    <script src="/static/assets/vendor/nouislider/js/nouislider.min.js"></script>
    <script src="/static/assets/vendor/textarea-autosize/textarea-autosize.min.js"></script>
    <!-- Theme JS -->
    <script src="/static/assets/js/theme.js"></script>
