{% extends "layouts/base-fullscreen.html" %}

{% block title %} Error 404 {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main class="main">
      <section class="slice slice-xl">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <div class="text-center pt-lg-md">
                <h2 class="heading h1 mb-4">
                  Error 404
                </h2>
                <p class="lead lh-180">
                  Page Not found - Please contact support.
                </p>
                <a href="/" class="btn btn-primary px-4">
                    Home
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
